* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #232323;
  color: #ffffff;
  font-size: 16px;
}

:root{
  --toastify-color-progress-dark: #b1254b;
  --toastify-font-family: inherit;
}

button {
  background-color: #b1254b;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-family: inherit;
  color: #ffffff;
  padding: 10px 16px;
  box-shadow: 0 2px 6px rgba(0 0 0 / 20%);
  cursor: pointer;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;

  &:disabled {
    opacity: 0.6;
    filter: saturate(80%);

    &:hover {
      filter: saturate(90%);
    }
  }

  svg {
    width: 18px;
    height: 18px;
    fill: white;
    margin-right: 10px;
  }

  &:hover {
    filter: saturate(120%);
  }

  &:active {
    transform: translateY(2px);
  }
}

textarea,
input[type="email"],
input[type="password"] {
  background-color: rgba(255 255 255 / 4%);
  border: none;
  border-radius: 6px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  padding: 10px 16px;
  color: #ffffff;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 3px #111111, 0 0 0 5px rgba(147 197 253 / 40%);
  }
}

textarea {
  min-height: 120px;
  resize: vertical;
  min-height: 120px;
}

.container {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(0 0 0 / 20%);
  box-shadow: 0 2px 6px rgba(0 0 0 / 20%);
}

.logo {
  font-size: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  text-decoration: none;

  img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-right: 16px;
  }
}

.header {
  background-color: #161616;
  padding: 16px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-points {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #c1254b;
  font-weight: 600;

  span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255 255 255 / 60%);
  }
}

.posts {
  background-color: #111111;
  padding: 10px;

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.post {
  background-color: rgba(255 255 255 / 3%);
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;

  &-area {
    flex: 1;
  }

  &-details {
    font-size: 12px;
    color: rgba(255 255 255 / 50%);
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    span {
      background-color: rgba(0 0 0 / 20%);
      color: rgba(255 255 255 / 70%);
      padding: 3px 8px;
      margin-right: 4px;
      border-radius: 8px;
    }
  }

  &-text {
    white-space: pre-wrap;

    &--yellow {
      color: #FABC2A;
    }

    &--red {
      color: #F05365;
    }

    &--lilac {
      color: #BD93BD;
    }

    &--aqua {
      color: #70CAD1;
    }

    &--green {
      color: #6BD425;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(255 255 255 / 60%);
    margin-top: 12px;

    svg {
      width: 12px;
      fill: currentColor;
      margin-right: 8px;
    }
  }

  &-votes {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;

    button {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0;

      svg {
        width: 24px;
        height: 24px;
        fill: rgba(255 255 255 / 40%);
        margin: 0;
      }
    }

    &-status {
      &--voted svg {
        fill: white !important;
      }

      &--disabled {
        cursor: not-allowed;
      }
    }

    &-count {
      font-size: 18px;
      text-align: center;
      font-weight: 500;
      margin: 3px 0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.post-comments {
  margin-top: -5px;
  margin-bottom: 10px;
}

.post-comment {
  padding: 12px;
  border-radius: 6px;
  margin-left: 44px;
  margin-bottom: 5px;
  position: relative;
  background-color: rgba(255 255 255 / 5%);
  display: flex;
  flex-direction: row;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -20px;
    border-left: 2px solid rgba(255 255 255 / 10%);
    width: 18px;
    height: calc(100% + 5px);
  }

  &:last-of-type::before {
    border-bottom: 2px solid rgba(255 255 255 / 10%);
    border-bottom-left-radius: 6px;
    height: 26px;
  }

  .post-votes {
    font-size: 16px;
    margin-right: 6px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.new-post {
  margin: 20px 0;

  &-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
  }
}

.color-selector {
  display: flex;
  flex-direction: row;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked~&-option {
    box-shadow: inset 0 0 0 3px rgba(255 255 255 / 80%), inset 0 0 6px 2px rgba(0 0 0 / 30%), 0 2px 6px rgba(0 0 0 / 20%);
  }

  &-option {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 8px;
    padding: 0;
    background-color: currentColor;
    box-shadow: inset 0 0 0 2px rgba(0 0 0 / 20%), inset 0 0 6px 2px rgba(0 0 0 / 0%), 0 2px 6px rgba(0 0 0 / 20%);
    transition: all .3s ease-in-out;
  }
}

.header-user-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-menu {
  margin-left: 20px;
  background-color: #121212;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position: relative;

  &:hover &-dropdown {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  svg {
    width: 26px;
    height: 26px;
    fill: #cccccc;
  }

  &-dropdown {
    background-color: #121212;
    box-shadow: 0 2px 6px rgba(0 0 0 / 30%);
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 9;
    width: 180px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    a {
      background-color: rgba(255 255 255 / 2%);
      display: block;
      padding: 10px;
      border-radius: 4px;
      margin: 3px;
      color: #ffffff;
      text-decoration: none;
      transition: all .4s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: rgba(255 255 255 / 3%);
      }
    }
  }
}

.post-loading {
  position: relative;
  background-color: rgba(255 255 255 / 2%);
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    animation: shimmer 2.5s infinite;
    background: linear-gradient(to right, transparent 4%, rgba(255 255 255 / 1%) 25%, transparent 36%);
    background-size: 1000px 100%;
    width: 100%;
    height: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.loading-icon {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255 255 255 / 40%);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loading-rotate 1s linear infinite;
  margin: 3px 2px;

  &--button {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.auth-page {
  margin: 40px 20px;
  text-align: center;

  form {
    margin-top: 40px;
  }

  label {
    display: flex;
    flex-direction: column;

    input {
      margin: 6px auto 16px;
      max-width: 300px;
    }
  }

  button {
    margin: 0 auto;
  }
}

.Toastify__close-button {
  width: 40px;
  height: 40px;
  background-color: rgba(255 255 255 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin: 0;
  }
}

.infinite-loading-icon {
  border-top: 2px solid rgba(255 255 255 / 20%);
  margin: 40px 0 30px;
  position: relative;
  .loading-icon-holder {
    position: absolute;
    top: -14px;
    left: calc(50% - 10px);
    background-color: #111111;
    padding: 0 10px;
  }
}